fastapi
uvicorn

python-dotenv

langchain
langchain-community
langchain-huggingface
chromadb
sentence-transformers
pypdf

groq

google-generativeai

sqlalchemy
psycopg2-binary

langdetect

gtts
openai-whisper

numpy
scipy

requests